.Top {
    background-color: #E6E6E6;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
}
* {
    box-sizing: border-box;
}
h1, h2 {
    background-color: #C4C4C4;
    font-weight: bold;
    font-family:'Times New Roman', 'Arial Narrow', Arial, sans-serif;
    color: #005677;
    letter-spacing: 10px;
}
h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h1 {
    margin-top: 0%;
    font-size: 35px;
    font-weight: 700;
    text-align: center; 
}

.Lista1 {
    font-size: 15px;
    font-style: italic;
}

.piedp {
    background-color:  #005677;
    text-align: center;
    color: white;
    height: 30px;
    margin: 10px;
    padding-top: 3px;
    box-sizing: border-box;
    ;

}   
.separador1 {
    margin: 150px;
}